@charset "UTF-8";


body{
    background-image: linear-gradient(to left, rgba(2, 85, 2, 0.815), yellow, rgba(2, 85, 2, 0.815) );
    font-family: 'Courier New', Courier, monospace;
    

}

main {
    min-width: 320;
    max-width: 800;
    margin: auto;
}

header > picture > img{
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: auto;

    


}
header{
     
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-top: auto;
    border-radius:10%;
    box-shadow: 2px 2px 2px black;
    background-size: 600px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    
}
h3{    
    text-align: center;
    padding-bottom: 10px;
    font-size: 50px;
}

.cardapio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     
}

nav{
    background-color: rgba(0, 128, 0, 0.644);
    padding: 12px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.605);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

nav > a {
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: rgb(255, 238, 0);
    padding: 5px;
    transition-duration: 1s;
}
